# Shop.co API Base URL
# Note: Use http:// instead of https:// because Somee.com free tier does not support SSL.
# Both 'http://www.shopco.somee.com' and 'http://www.shopco.somee.com/api' are supported.
NEXT_PUBLIC_API_URL=http://www.shopco.somee.com/api
